# Markdown Basics

* **Bold**

* *italic*

* ***ib***

* *Normal text*

* Sublist 1

* Sublist 2

1.Ordered list elemnet 1

2.Ordered list element 2

[Jupyter Logo](jupyterlog.png)

- [ ]option 1

- [ ]option2

![Jupyter Logo](jupyterlog.png)

<img src ="jupyterlog.png" style="float:left">

I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"

printf("Hello Markdown")

<https://google.com>

<https://amazon.com>

## Python Basics
Python version 3.7

- scripting
- object oriented
- functional

#Python Comments

In [7]:
print("Good afternoon","!",end="||")#Basic output
print("Hello Python")

Good afternoon !||Hello Python

   ### Assignmnet

In [16]:
n1=123456 #single variable assignment
          
n2=n3=n4=n1#multi variable assignment

a,b,c=123,234,345 #Multivariable Assignment with different values


print(a,b,c)

123 234 345

## Arithmetic Operators
- +
- -
- /
- *
- %
- **

In [55]:
n1%11

n3=n2**123

type(n3)
len(str(n3))

atoms=10**82
len(str(atoms))
type(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

### Conditionals

In [57]:
if atoms < 10 ** 9:
    print("TRUE")
else :
    print("FALSE")

FALSE

### Data Types & Type Conversions

- int
- float
- string
- double

In [53]:
type(a)
s1="python"
type(s1)

f1=12.345
type(f1)
int(f1)
(float(str(int(f1))))

12.0

In [54]:
a=10
print(a)

10

In [2]:
#Check if a number is Even

n=123
if n%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [ ]:
#Find greatest of three numbers
n1=int(input("enter the first number"))
n2=int(input("enter the second number"))
n3=int(input("enter the third number"))
if n1>n2 and n1>n3:
    print(n1,"is the greatest")
elif n2>n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

In [2]:
#Check if a year is a leap year
y=int(input("enter the year"))
if y%400==0 or (y%100!=0 and y%4==0):
    print("leap year")
else:
    print("not a leap year")

enter the year2012
leap year

In [6]:
#check if a number exists in a given range or not
n1=123
lb=12
ub=13
if n1>=lb and n1<=ub:
    print("given number is in range")
else:
    print("given number is not in range")

given number is not in range

In [17]:
#calculate the number of digits
n1=12344
print(len(str(n1)))

5

In [11]:
#check if a number is a multiple of 10
n=input("enter a number")
if n%10==0:
    print("given number is multiple of 10")
else:
    print("given number is not multiple of 10")

enter a number12

TypeError: not all arguments converted during string formatting

In [ ]:
#check if a number is a factor of 1000
n=input("enter a number")
if 1000%n==0:
    print("given number is factor")
else:
    print("given number is not a factor")

In [3]:
#check if given string is equal to a number
s1="Python"
n1=123456
if str(n1)==s1:
    print("num")

In [9]:
#calculate the square root of a number without functions
n1=123
n1 ** 0.5

11.090536506409418

In [1]:
#caluate the number of nano seconds in a given year(considering leap year logic)
y=2020
if y%400==0 or (y%100!=0 and y%4==0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

31622400000000000

# Functions

In [1]:
2**2

4